#alignment-div{
  display: flex;
  justify-content: center;
}

body{
  background-image: url(../assets/magellanic-clouds.png);
}

#gameCanvas{
  opacity: .7;
}

h1{
  font-family: 'Russo One', sans-serif;
  color: yellow;
  padding-left: 80px;
}
